.home {
  min-width: 80vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.home > div > div h1 {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: 800;
  line-height: 150px;
  margin: 0;
}

.home > div > div h1 > span > span:not(.intro),
.home > div > div h1 > span {
  display: block;
  /* overflow: hidden; */
}

.home > div > div h1 > span {
  padding: 0 200px;
  line-height: 150px;
}

.home > div > div h1 > span > span:not(.intro) {
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #333;
  text-shadow: 8px 8px #fff, 20px 20px #222;
}

.home > div > div .intro {
  position: absolute;
  height: 170px;
  width: 200px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  left: 620px;
  top: 0px;
  color: black;
  font-size: 18px;
  flex-direction: column;
  line-height: 30px;
  margin: 0;
  text-align: left;
  font-weight: normal;
}

.home .cta {
  position: absolute;
  right: 60px;
  top: calc(50vh - 30px);
  z-index: 1;
}

@media (max-width: 1024px) {
 #menu li:last-child:after,
  .home > div > div .intro {
    display: none;
  }

  #home .animated-layer {
    opacity: 0 !important;
  }

  #home .animated-layer.animated {
    opacity: 1 !important;
  }

  .home > div > div h1 > span {
    padding: 0;
    line-height: 120px;
  }

  .home > div > div h1 > span > span:not(.intro) {
    padding: 0 15px;
  }

  .home .animated-btn.cta {
    position: relative;
    margin-top: 40px;
    right: initial;
    top: initial;
  }

  .home .animated-btn.cta span:before {
    transform: rotate(90deg);
  }

  .home .animated-btn:hover span:before {
    left: 0;
  }

  .animated-btn span:after {
    display: none;
  }

   .home > div {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .home > div:before {
    background-color: initial;
  }

  .home > div > div {
    text-align: center;
  }

  .home {
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }

  .home > div > div h1 {
    font-size: 90px;
  }

  .home > div > div .intro {
    margin: 10px auto 25px;
  }

  @media screen and (max-width: 767px) {

    .home > div > div {
    text-align: left;
  }

  .home > div > div h1 {
    font-size: 45px;
  }

  .home > div > div .intro {
    line-height: 36px;
    margin: 15px 0 25px;
  }

  .home > div {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .home > div > div h1 > span {
    padding: 0;
    line-height: 75px;
  }

  }

}