

.home {
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home > div > div h1 {
  position: relative;
  z-index: 1;
  font-size: 150px;
  font-weight: 800;
  line-height: 150px;
  margin: 0;
}

.home > div > div h1 > span > span:not(.intro),
.home > div > div h1 > span {
  display: block;
  overflow: hidden;
}

.home > div > div h1 > span {
  padding: 20px;
  line-height: 160px;
}

.home > div > div h1 > span > span:not(.intro) {
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #333;
  text-shadow: 8px 8px #fff, 20px 20px #222;
}

.home > div > div .intro {
  position: absolute;
  height: 170px;
  width: 200px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  left: 620px;
  top: 0px;
  color: #fff;
  font-size: 18px;
  flex-direction: column;
  line-height: 30px;
  margin: 0;
  text-align: left;
  font-weight: normal;
}

.home .cta {
  position: absolute;
  right: 60px;
  top: calc(50vh - 30px);
  z-index: 1;
}
