@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
} 

 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep functionality if desired */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
}